html {
    scroll-behavior: smooth;
}

body {
    font-family: "Open Sans", sans-serif;
}


ul {
    list-style: none;
}

a {
    text-decoration: none;
}

*:focus {
    outline: none;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background-color: white;
}

::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--main-ultr-color);
}