.files-page {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr))
}

.files-page .file-img {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}

.files-page .file-img img {
    width: 60px;
}

.statics>div>div>span {
    width: 30px;
    height: 30px;
}

.statics>div:first-of-type>div>span {
    background-color: rgba(0, 0, 255, 0.196);

}

.statics>div:first-of-type+div>div>span {
    background-color: rgba(0, 128, 0, 0.21);
}

.statics>div+div+div>div>span {
    background-color: rgba(255, 0, 0, 0.401);
}

.statics>div:last-of-type>div>span {
    background-color: rgba(255, 166, 0, 0.382);
}

.statics button {
    background-color: var(--main-color);
    padding: 10px 20px;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 25px;
}