.project .project-content .images {
    border-bottom: 1px solid #eee;
}

.project-content .icons span {
    right: 15px;
    position: relative;
}

.project-content .icons span::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: red;
    right: -5px;
    top: -5px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.project-content .head .search input {
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
    width: 160px;
    margin-left: 5px;
    padding-left: 30px;
}

.project-content .head .search::before {
    font-family: var(--fa-style-family);
    content: "\f002";
    font-weight: 900;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15px;
    color: var(--grey-color);

}

.project-content .head .search input:focus {
    width: 200px;
}

.project-content .icons img {
    width: 40px;
}

.project .project-content .images img {
    width: 30px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-top: 30px;
    border: 2px solid white;
    margin-bottom: 15px;
}

.project .project-content .images img:not(:first-of-type) {
    margin-left: -15px;

}

.project .project-content .box-skills {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 4px;
    border-bottom: 1px solid #eee;
}

.project .project-content .box-skills span {
    display: block;
    background-color: #eee;
    padding: 3px 6px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.project .project-content .box-progress .progress {
    width: 50%;
    background-color: #eee;
    height: 5px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    overflow: hidden;
}

.project .project-content .box-progress .progress .prog {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.project .project-content .box-container {
    flex-wrap: wrap;
    gap: 20px;
    padding: 0px 20px 0px 20px;
}

.project .project-content .box-container .box {
    width: calc(100% / 3 - 20px);
}