@media(max-width:767px) {
    .settings-page {
        grid-template-columns: minmax(100px, 1fr);
        margin-left: 10px;
        margin-right: 10px;
        gap: 10px;
    }

    .manage .servers {
        flex-wrap: wrap;
    }
}