@media(max-width:767px) {
    .wrapper {
        grid-template-columns: minmax(200px, 1fr);
        margin-left: 10px;
        margin-right: 10px;
        gap: 10px;
    }

    .welcome .intro img:first-of-type {
        left: 50%;
        top: 74px;
        transform: translateX(-50%);

    }

    .welcome .body>div:not(:last-of-type) {
        margin-bottom: 20px;
    }

    .welcome .body>div:not(:first-of-type)>span {
        margin-top: 5px;
    }

    .welcome .body>div>span:first-of-type {
        font-size: 25px
    }

    .welcome .body>div>span:last-of-type {
        font-size: 18px
    }

    .welcome .visit {
        width: 90%;
    }

    .quick-draft form .save {
        width: 100%;
        padding: 7px 0px;
    }




    .tickets .content .box {
        width: 100%;
    }

    .news .news-row .days {
        width: 30%;
        font-size: 12px;
    }

    .news .news-row .news-content .text h3 {
        font-size: 16px;
    }

    .news .news-row .news-content .text p {
        font-size: 12px;
    }

    .tasks .tasks-row .tasks-content .text h3 {
        font-size: 16px;
    }

    .tasks .tasks-row .tasks-content .text p {
        font-size: 14px;
    }

    .post>p {
        text-align: center;
    }

    .social .row>div>span:first-of-type {
        font-size: 12px;
    }

}